

.headersec{
    margin-top: -5em;
    border-bottom: 1px solid;
    padding: 1em;
    max-width: 100%;
}

.header {
position: absolute;
width: 1631px;
height: 123px;
left: 215px;
top: 275px;
background: #F5F5F5;
border-radius: 39px 39px 0px 0px;

}

